/* CSS for the Pictures page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('pictures/pexels-ashutosh-sonwani-1762578.jpg'); 
  /*display: flex;*/
  align-items: center;
  background-position: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;

}

.logo {
  color: white;
  font-size: 28px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: blue;
  transition: 0.3s;
}

/* Add spacing between social media icons */
.social-icons a {
  margin-right: 15px; /* Adjust the spacing as needed */
}

/* Style the social media icons */
.social-icons i {
  font-size: 20px; /* Adjust the icon size as needed */
  color: white; /* Set the icon color */
  transition: 0.3s;
}

/* Change the icon color on hover */
.social-icons i:hover {
  color: blue; /* Set the hover color */
}

.container{
  max-width: 1200px;
  width: 95%;
  align-items: center;
  justify-content: center;
  /* margin-left: 300px; */
  margin-top: 100px; 
  margin: 100px auto;
  position: relative;
}

.slider-wrapper{
  position: relative;
}

.slider-wrapper .slide-button{
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;  
  border: none;
  outline: none;
  background-color: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
  background: #444;
}

.slider-wrapper .slide-button#prev-slide{
  left: -20px;
  display: none;
}

.slider-wrapper .slide-button#next-slide{
  right: -20px;
}


.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-wrapper .image-list{
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr)
}

.slider-wrapper .image-list::-webkit-scrollbar{
  display: none;
}

.slider-wrapper .image-list .image-item{
  width: 325px;
  height: 400px;
  object-fit: cover;
}


.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background-color: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active{
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;

}

/* Styles for Mobiles and Tablets*/
@media (max-width: 1023px){
  .slider-wrapper .slide-button{
    display: none!important;
  }
  
  .slider-wrapper .image-list{
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .image-list .image-item{
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb{
    width: 20%;
  }
}



/* Style the footer (optional) */
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  padding: 15px 0; /* Add padding as needed */
  z-index: 100; /* Ensure it's above other content */
}
